---
name: CI
on:
  push:
    branches: [main]
    tags: [v*]
  pull_request:
    branches: [main]
permissions:
  contents: read
  pull-requests: write
jobs:
  build:
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-go@v2
      with:
        go-version: '1.17'

    - uses: aquaproj/aqua-installer@feat/run-aqua-install
      with:
        aqua_version: v0.8.6

    - uses: suzuki-shunsuke/github-action-golangci-lint@v0.1.1
    - name: test
      env:
        CC_TEST_REPORTER_ID: ${{ secrets.CC_TEST_REPORTER_ID }}
      run: bash ci/test.sh go-findconfig
